*{
    padding: 0px;
    margin: 2px;
}

header {
    border: 1px solid black;
}

header ul{
    display: flex;

    justify-content: space-between;
}

.menu li{
    border: 1px solid black;
}

li{
    list-style: none;
}

main{
    border: 1px solid black;
}

footer{
    border: 1px solid black;
}

