*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{

    width: 90%;
    max-width: 1280px;
    margin: auto;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

li{
    list-style: none    ;
}

a{
    text-decoration: none;
}

.header {

    background-image: url(../img/fons.jpg); 
    height: 100vh;

}

.header ul li {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header ul li img{

    width: 100px;
    height: 100px;
}

